@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/**/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid red; */
}
/* reset */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  li{
    list-style-type: none;
  }

html, body {
    scroll-behavior: smooth;
    scroll-padding-top: 50px; 
}

body {
    color: rgb(255, 255, 255);
    background-color: #323332;
    font-size: 18px;
    overflow-x: hidden;
}
  
ul {
    list-style: none;
    text-decoration: none;    
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../ressources/home.jpg.jpg);
    background-position: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    display: flex; /* Ajout */
    flex-direction: column;
    align-items: center; /* Ajout */
    justify-content: flex-start; /* Ajout */
    margin-bottom: 60px;
    gap: 10%;
}


/* Section Navbar */
header .container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo {
    width: 90px;
    cursor: pointer;
}
.navbar .nav-links ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 5px;

}
.navbar .nav-links ul li a::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar .nav-links ul li a:hover::after {
    width: 100%;
}
.navbar .menu-hamburger {
    display: block;
    font-size: 2em;
}
section {
    position: relative;
    /* z-index: 1; */
}
.navbar .nav-links,
.navbar .menu-hamburger {
    z-index: 2;
}
.navbar .logo {
    width: 110px;
}
.navbar .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);      
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -150%;
    transition: all 0.6s ease-in-out;
}
.navbar .nav-links.mobile-menu {
    margin-left: 0;
}
.navbar .nav-links ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.navbar .nav-links ul li {
    display: block;
    margin: 14px 0;
    font-size: 1.4em;
}




/* fonts  */
h1,h2,h3,h4{
    color: #FFF;
    font-weight: normal;
    line-height: 1.4em;
}
p,a,li{
    color: #666666;
    line-height: 1.4em;
    font-size: 1em;
}
h1{
    font-size: 2.25em;
}
h2{
    font-size: 1.6em;
}
h3 {
    font-size: 1.2em;
}
h4{
    font-size: 0.9em;
}
.leading{
    font-size: 1.1em;
}

/* =======MOBILE STYLE======= */


/* welcome  */
.hero {
    margin: 20px auto;
    width: 100%;
}

/* main */
.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    box-sizing: border-box;
}
#welcome{
    padding:20px;
}
.welcome-text h1{
    text-transform: uppercase;
    font-weight: 700;
}

/* activities  */
.activities {
    padding: 30px 20px;
}
.activities h2 {
    text-align: center;
    margin-bottom: 0;
}
.projects{
    margin: 20px 0;
} 
.projects a {
    grid-column: 1/9;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.projects a * {
    margin: 0 20px;
    align-self: center;
}
.projects img {
    max-width:40%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(116, 116, 116);
}
.projects h4{
    color: #e6e6e6;
    text-align: center;
    flex-basis: 40%;
}



.cards{
    margin: 20px 0;
    align-items: stretch;
    grid-gap: 20px
} 




.center {
    display: flex;

}

.name-2 * {
    margin: 0 20px;
    width: 100%;
    align-self: center;
}
.card-sc {
    grid-column: 1/9;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 5px 5px 15px rgb(14, 14, 14);
    max-width: 640px;
    width: 100%;
}
.card-sc img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.sc-text {
    text-align: center;
    color: #666666;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sc-text h3 {
    color: #009688;
    padding: 0 10px;
    margin: 15px 0;
    font-weight: 700;
    line-height: 1.2em;
}
.sc-text p {    
    padding: 0 20px 20px;
}
.sc-text span {
    display: inline-block;
    margin: 5px 0;
    margin-top: auto;
}

.sc-text button {
    align-self: flex-end;  /* Aligne le span et le bouton à la fin de l'axe principal */
}

/*============== bouton donate*/



.btn-donate {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;

}
.btn-donate a {
    flex-basis: 40%;
}
.btn-donate button {
    width: 100%;
    /* max-width: 300px; */
    padding: 15px 0;
    text-align: center;
    margin: 15px 0;
    border-radius: 100px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #666666;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn-donate button span {
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: -5px;
    z-index: -1;
    transition: 0.6s;
    margin-top: 100px;

}

.btn-donate button:hover span {
    width: 100%;
}

.btn-donate button:hover {
    border: none;
    color: #fff; 

} 

.donate-goal {
    font-weight: bold;
}

/* ========== footer ====== */


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content {
    padding: 30px 0;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "center"
        "right"
        "left";
    gap: 10px;
}

.footer-content h3{
    font-size: 18px;
}

 .footer-left,
.footer-center,
.footer-right{
    vertical-align: top;
}

/* left footer  */
.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: left;
}
.footer-left .logo {
    width: 120px;
}
.footer-company-name {
    margin: 20px 0;
    font-size: 14px;
}

/* center footer */

.footer-center {
    grid-area: center;
}
.footer-center .info-contact {
    display: flex;
    align-items: center;
}
.footer-center i {
    color: #fff;
    width: 38px;
    height: 38px; 
    background-color: #1a1d1f;
    font-size: 20px;   
    text-align: center;
    line-height: 38px;
    border-radius: 50px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-center span {
    display: block;
    font-size: 14px;
    position: relative;
}
.footer-center a {
    color: #fff;
    text-decoration: none;
}
.footer-center h3 {
    margin-bottom: 14px;
}
.info-contact span::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}
.info-contact span:hover::after {
    width: 100%;
}

/* right footer */

.footer-right {
    grid-area: right;
}
.footer-right .about-company {
    font-size: 14px;
    margin: 15px 0 15px 15px;
}
.footer-right .about-company p {
    font-size: 15px;
    font-weight: 100px;
}
.footer-right .footer-icons {
    display: flex;
    justify-content: space-evenly;
}
.footer-right .footer-icons a {
    color: #fff;
    width: 35px;
    height: 35px; 
    background-color: #1a1d1f;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;   
    text-align: center;
    line-height: 36px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}

@media screen and (min-width : 470px) {
    .footer-content {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "center right"
        "left left";
    }
    .footer-left {
        margin-top: 40px;
        justify-self: center;
        align-items: center;
        gap: 20px;
    }
    .footer-center {
        grid-area: center;
    }
    .footer-right {
        grid-area: right;
    }

    .footer-left {
        margin: 0;
        flex-direction: row;
    }
}

@media screen and (min-width : 700px) {
    .projects a,
    .card-sc {
        grid-column: span 4;
    }

    .projects a {
        flex-direction: column;
        gap: 20px;
        margin: 20px 0;
    }
    .projects img {
        max-width:60%;
    }

    .footer-content {
        grid-template-columns: 1.4fr 2fr 3fr;
        grid-template-areas: 
        "left center right";
        gap: 15px;
    }
    .footer-left {
        grid-area: left;
        flex-direction: column;
    }
    .footer-center {
        grid-area: center;
    }
    .footer-right {
        grid-area: right;
    }
    .footer-center h3 {
        margin-left: 0;
    }
    .footer-right .footer-icons {
        justify-content: start;
    }
    .footer-right .about-company {
        margin: 15px 0;
    }

} /*780px */

@media screen and (min-width : 780px) {

    h2 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.1rem;
    }

    .navbar .menu-hamburger {
        display: none;
    }
    .navbar .nav-links{
                display: block;
                top: initial;
                left: initial;
                position: static; 
                background-color: initial;
                backdrop-filter: initial;
                -webkit-backdrop-filter: initial;
                height: initial; 
                width: initial;


    }
    .navbar .logo {
        width: 120px;
    }
    .navbar .nav-links ul{
        display: block;
    }
    .navbar .nav-links ul li {
        list-style: none;
        display: inline-block;
        position: relative;
        margin: 0 8px;
    }
    
    .navbar .nav-links ul li a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        padding: 15px 5px;
        font-size: 16px;
    }
    
    .navbar .nav-links ul li a::after {
        content: '';
        height: 3px;
        width: 0;
        background: #009688;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }
    
    .navbar .nav-links ul li a:hover::after {
        width: 100%;
    }
    
    .navbar .menu-hamburger {
        display: none;
        font-size: 2em;
    }
}
@media screen and (min-width : 870px) {
    .navbar .nav-links ul li {
        margin: 0 15px;
    }
}
@media screen and (min-width : 980px) {

    .welcome-text h1{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.8em;
    }

    h4 {
        font-size: 1.2rem;
    }

    .grid{
        grid-template-columns: repeat(12, 1fr);
        gap: 50px;
        box-sizing: border-box;
    }

    .grid.grid-target {
        gap: 15px;
    }

    .activities {
        padding: 30px 30px;
    }
    .projects a:nth-child(1), .projects a:nth-child(4){
        grid-column: 1/5;
      }
      .projects a:nth-child(2), .projects a:nth-child(5){
        grid-column: 5/9;
        padding-top: 50px;
      }
      .projects a:nth-child(3), .projects a:nth-child(6){
        grid-column: 9/13;
      }

    .projects a {
        flex-direction: column;
        gap: 20px;
        margin: 20px 0;
    }
    .projects img {
        max-width:100%;
    }
}


#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 44px;
    border: none;
    outline: none;
    color: #006359a2;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}
  
#back-to-top:hover {
    font-size: 50px;
}